/*!
 * Dark Mode Switch v1.0.1 (https://github.com/coliff/dark-mode-switch)
 * Copyright 2021 C.Oliff
 * Licensed under MIT (https://github.com/coliff/dark-mode-switch/blob/main/LICENSE)
 */

 body[data-theme="dark"] {
	background-color: #26273b !important;
	/* #373546 */
	/* #26273b */
	color: #eee;
}

[data-theme="dark"] .bg-main {
  background-color: #26273b !important;
}

[data-theme="dark"] .bg-light2 {
	background-color: #212529 !important;
	color: #eee !important;
}

[data-theme="dark"] .neumorph-light {
	box-shadow:  7px 7px 26px #1d1e2d,
		   -7px 0 26px #2f3049 !important;
}

[data-theme="dark"] .btn-neumorph-light {
	background: linear-gradient(145deg, #292a3f, #222335);
	box-shadow:  20px 20px 60px #1d1e2d,
             -20px -20px 60px #2f3049 !important;
}

[data-theme="dark"] .bg-white {
	background-color: #222 !important;
}

[data-theme="dark"] .chat-bubble .border {
	border-color: #3f3f3f !important;
}

[data-theme="dark"] .border-white {
	border: #000 1px solid !important;
}

[data-theme="dark"] .active-chat {
	background: #26273b;
	box-shadow: inset 0.5px 2px 10px #202132,
            inset -0.5px -2px 10px #202132;
}

[data-theme="dark"] .modal-content {
  background-color: #26273b !important;
  color: #eee !important;
}

[data-theme="dark"] .btn-close {
  color: #eee !important;
}

[data-theme="dark"] .list-group-item {
	background-color: #222;
}

[data-theme="dark"] .room-chat-active {
	background-color: #16EA9E !important;
}

[data-theme="dark"] .room-chat-active .text-dark {
	color: #000 !important;
}

[data-theme="dark"] .room-chat-active .text-muted {
	color: #222 !important;
}

[data-theme="dark"] .form-floating label {
	color: #000 !important;
}

[data-theme="dark"] .input-group .bg-white {
	background: #fff !important;
}

[data-theme="dark"] .border {
  border-color: #eee !important;
}

[data-theme="dark"] .text-muted {
  color: #eee !important;
}

[data-theme="dark"] .text-dark {
  color: #eee !important;
}

[data-theme="dark"] .text-white {
	color: #000 !important;
}

[data-theme="dark"] .bg-black {
	background-color: #fff !important;
}

[data-theme="dark"] .bg-dark {
	background-color: #eee !important;
}

[data-theme="dark"] .list-group {
	background-color: #222 !important;
}

[data-theme="dark"] .bg-light {
	background-color: #222 !important;
}