.room-chat-active {
	background-color: #16EA9E !important;
}

.side-menu-active {
	background-color: #16ea9c1a !important;
	border-bottom: 3px solid #16EA9E !important;
}

.active-chat {
	border-radius: 0px;
	background: #dde6ee;
	box-shadow: inset 0.5px 2px 10px #d0d8e0,
            inset -0.5px -2px 10px #d0d8e0;
}

.middle-area, .left-area {
	transition: width .5s linear;
}

