.bg-main {
	background-color: #dde6ee;
}

.bg-light2 {
	/* background-color: #eeeeee; */
	background-color: #f0f2f5;
}

/* .bg-white2 {
	background-color: #dde6ee;
} */

.bg-dark2 {
	background-color: #26273b;
}

.neumorph-light {
	box-shadow:  7px 7px 26px #bcc4ca,
	-7px 0 26px #feffff;
}

.btn-neumorph-light {
	background: linear-gradient(145deg, #ecf6ff, #c7cfd6);
	box-shadow:  20px 20px 60px #bcc4ca,
             -20px -20px 60px #feffff;
}

.text-green {
	color: #16ea9e;
}

.bg-green {
	background-color: #16ea9e;
}

.text-blue {
	color: #4846ff;
}

.bg-blue {
	background-color: #4846ff;
}

.text-yellow {
	color: #daa30a;
}

.bg-yellow {
	background-color: #daa30a;
}

.custom-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	background-color: #838383;
	/* background-color: #F5F5F5; */
}